body {
    width:100%;
    height:auto;
}
.topbox{
    margin-top: 60px;
    border: none;
    background-color: white;
    color: black;
}

#top-box{
    border: none;
    background-color: white;
    color: black;
}
nav .navbar-header{
    padding:10px;
}
.navbar-header .heading {
    color:black;
    font-size: x-large;
    font-weight: bold;
    margin:30px;
}

.navbar-right {
    margin:0px;
    margin-right:40px;
    margin-left:40px;
}

.navbar .navbar-right li a {
    color:black;
    font-size: medium;
}

.navbar .navbar-right li a:hover {
    color:black;
}

.navbar .navbar-right li a.active {
    margin: 10px 10px;
    padding:4px;
    border:none;
    border-bottom:5px solid black;
}

main {
    margin-top: 100px;
}

main h2 {
    color: black;
}

main form div {
    margin:20px 0px;
}

button {
    width:100px;
    background-color: black;
    color: white;
}

.row{
    background-color: lightcyan;
    border: 1px solid black;
    border-radius: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
}
#create
{
    background-color:white;
    border: none;
}
#cd{
    color:red;
    text-align: center;
}

#top-box{
    background-color: white;
    border: none;
}
/*body {font-family: Arial, Helvetica, sans-serif;}*/
/** {box-sizing: border-box}*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}